*{
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    gap: 16px;
    font-size: 24px;
    font-weight: 900;
}

a {
    text-decoration: none;
    color: azure;
}

a:hover {
    text-decoration: underline;
}

button {
    cursor: pointer;
    border: none;
    border-radius: 50%;
    padding: 8px 16px;
    color: azure;
    box-shadow: inset 2px 2px 4px rgba(0,0,0,.5);
    font-weight: 1000;
    font-size: 18px;
    width: 64px;
    height: 64px;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #9B9692;
    padding: 20px;
}

.title {
    font-size: 36px;
    font-weight: 900;
    color: azure;
}


.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-calculator {
    background-color: #1C1A1A;
    padding: 16px;
}

.display {
    display: flex;
    justify-content: flex-end;
    align-items: end;
    height: 50px;
    padding: 5px;
    margin-bottom: 8px;
    background-color: #609A6C;
    font-size: 24px;
    font-weight: 500;
}

.keypad {
    padding: 8px;
}

.firstRow,
.otherRows {
    display: flex;
    gap: 12px; 
    margin-bottom: 12px;
}

#clear, #delete {
    background-color: #D4CEC8;
}

.numbers, #decimal {
    background-color:#514949;
}

.operators, #equal {
    background-color: #F9A964
}

.footer {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 8px;
   font-weight: 500;
}

